{% extends base_template %}
{% load static wagtailcore_tags %}
{% block content %}
    <div class="halftone"></div>
    <main class="home">
        <section id="home">
            <div id="hero-text">
                <h1 class="mb--xxs">
                    Grégoire <span class="underlined">Layet</span>
                </h1>
                <h3 class="mb--xxs">Developpeur freelance Django, FastAPI et Python</h3>
                <h3 class="mb--xxs">Etudiant à Polytech Nantes</h3>
            </div>
            <div id="profile-picture-wrapper">
                <img id="profile-picture" src="{% static "website/rx7_small.jpg" %}" alt="">
            </div>
            <div id="aboutme">
                <h2 class="styled_title">A propos</h2>
                <article>{{ page.about_me|richtext }}</article>
            </div>
        </section>
        <section id="projects">
            <h2 class="styled_title mb--m">Projets mis en avant</h2>
            {% for project in projects %}
                {% component "project" project only %}
                {% endcomponent %}
            {% endfor %}
        </section>
        <section id="experiences">
            <h2 class="styled_title " id="title_experiences_section">Mes expériences</h2>
            <div id="experiences_list">
                {% for event in page.timeline %}
                    {% include_block event %}
                {% endfor %}
            </div>
        </section>
        <section id="other-passions">
            <h2 class="styled_title" id="title_other-passions_section">Mes autres centres d'intérêt</h2>
            <div id="other-passions_list-wrapper">
                <div id="other-passions_list">
                    {% for other_passion in page.passions %}
                        {% include_block other_passion %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
