{% extends base_template %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}
{% block content %}
    <div class="halftone"></div>
    <main class="home">
        <section id="home">
            <div id="hero-text">
                <h1 class="mb--xxs">
                    Grégoire <span class="underlined">Layet</span>
                </h1>
                <h3 class="mb--xxs">{% translate "Developpeur freelance Django, FastAPI et Python" %}</h3>
                <h3 class="mb--xxs">{% translate "Etudiant à Polytech Nantes" %}</h3>
            </div>
            <div id="profile-picture-wrapper">
                {% comment %} djlint:off H006 {% endcomment %}
                {% picture page.hero_image format-{avif,webp,jpeg} width-{400,600,900} sizes="(max-width: 400px) 400,(max-width: 600px) 600, 50vw" class="styled" id="profile-picture" alt=page.hero_image_alt %}
                {% comment %} <img id="profile-picture" src="{% static "website/rx7_small.jpg" %}" alt="" class="styled"> {% endcomment %}
                {% comment %} djlint:on {% endcomment %}
            </div>
            <div id="aboutme">
                <h2 class="styled_title">{% translate "A propos" %}</h2>
                <article>{{ page.about_me|richtext }}</article>
            </div>
        </section>
        <section id="projects">
            <h2 class="styled_title mb--m">{% translate "Projets mis en avant" %}</h2>
            <div class="projects__list">
                {% for project in projects %}
                    {% component "project" project only %}
                    {% endcomponent %}
                {% endfor %}
            </div>
        </section>
        <section id="experiences">
            <h2 class="styled_title">{% translate "Expériences" %}</h2>
            <div class="experiences__list">
                {% for event in page.experiences %}
                    {% include_block event %}
                {% endfor %}
            </div>
        </section>
        <section id="other-passions">
            <h2 class="styled_title">{% translate "Autres centres d'intérêt" %}</h2>
            <div class="other-passions__grid">
                {% for other_passion in page.other_passions %}
                    {% include_block other_passion %}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock content %}
