@font-face {
	font-family: "Montaga";
	font-weight: 400;
	src: url("/font/Montaga-Regular.ttf") format("truetype");
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

button,
input,
select {
	margin: 0;
}

button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: none;
	color: currentColor;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

img,
video {
	height: auto;
	max-width: 100%;
}

svg,
img,
picture {
	display: block;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/* Colors */
html {
	--text: hsl(30, 25%, 6%);
	--background: hsl(39, 100%, 96.08%);
	--primary: hsl(33, 100%, 74%);
	--primary-light: hsl(35, 100%, 84%);
	--secondary: hsl(147, 31%, 79%);
	--secondary-on-surface: hsl(147, 31%, 35%);
	--accent: hsl(29, 99%, 44%);
	/*hsl(197.68, 100%, 43.92%)*/

	--linearPrimarySecondary: linear-gradient(90deg,
			var(--primary),
			var(--secondary));
	--linearPrimaryAccent: linear-gradient(90deg,
			var(--primary),
			var(--accent));
	--linearSecondaryAccent: linear-gradient(90deg,
			var(--gradient-secondary),
			var(--accent));
	--radialPrimarySecondary: radial-gradient(var(--primary), var(--secondary));
	--radialPrimaryAccent: radial-gradient(var(--primary), var(--accent));
	--radialSecondaryAccent: radial-gradient(var(--secondary), var(--accent));
}

:root {
	/* Typography */
	--font-primary: "Montaga", Times New Roman, Times, serif;
	--font-secondary: Helvetica, Arial, sans-serif;

	/* set base values */
	--text-base-size: 0.9em;
	--text-scale-ratio: 1.2;
	/*  minor third scale */
	--text-half-scale: sqrt(var(--text-scale-ratio));
	--text-quarter-scale: sqrt(var(--text-half-scale));

	/* type scale */
	--text-s: 1em;
	--text-xs: calc(var(--text-s) / var(--text-scale-ratio));
	--text-m: calc(var(--text-s) * var(--text-scale-ratio));
	--text-l: calc(var(--text-m) * var(--text-scale-ratio));
	--text-xl: calc(var(--text-l) * var(--text-scale-ratio));
	--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
	--text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
	--text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio) * var(--text-scale-ratio));

	/* line-height */
	--heading-line-height: 1.2;
	--body-line-height: 1.4;

	/* Spacing */
	--space-unit: 0.9em;
	--space-scale-ratio: 1.618;
	/* golden scale */
	--space-half-scale: sqrt(var(--space-scale-ratio));
	--space-quarter-scale: sqrt(var(--space-half-scale));
	--space-s: var(--space-unit);

	--space-xs: calc(var(--space-s) / var(--space-scale-ratio));
	--space-xxs: calc(var(--space-xs) / var(--space-scale-ratio));
	--space-xxxs: calc(var(--space-xxs) / var(--space-scale-ratio));

	--space-m: calc(var(--space-s) * var(--space-scale-ratio));
	--space-l: calc(var(--space-m) * var(--space-scale-ratio));
	--space-xl: calc(var(--space-l) * var(--space-scale-ratio));
	--space-xxl: calc(var(--space-xl) * var(--space-scale-ratio));
	--space-xxxl: calc(var(--space-xxl) * var(--space-scale-ratio));

	/* Fixed Spacing */
	--space-unit-fixed: 0.9rem;
	--space-s-fixed: var(--space-unit-fixed);

	--space-xs-fixed: calc(var(--space-s-fixed) / var(--space-scale-ratio));
	--space-xxs-fixed: calc(var(--space-xs-fixed) / var(--space-scale-ratio));
	--space-xxxs-fixed: calc(var(--space-xxs-fixed) / var(--space-scale-ratio));

	--space-m-fixed: calc(var(--space-s-fixed) * var(--space-scale-ratio));
	--space-l-fixed: calc(var(--space-m-fixed) * var(--space-scale-ratio));
	--space-xl-fixed: calc(var(--space-l-fixed) * var(--space-scale-ratio));
	--space-xxl-fixed: calc(var(--space-xl-fixed) * var(--space-scale-ratio));
	--space-xxxl-fixed: calc(var(--space-xxl-fixed) * var(--space-scale-ratio));

	/* Other */

	--radius: var(--space-s);

	--box-shadow: var(--space-xxs-fixed) var(--space-xxs-fixed) 0px var(--primary);

	/* Transitions */
	--duration: 294ms;
	--color-transition: color var(--duration) ease-out;
	--bg-color-transition: background-color var(--duration) ease-out;
}

@media (min-width: 481px) {
	:root {
		--text-base-size: 1em;
		--space-unit: 1em;
	}
}

@media (min-width: 1060px) {
	:root {
		--text-base-size: 1.25em;
		--text-scale-ratio: 1.25;
		/* major third scale */
		--space-unit: 1.25em;
	}
}

/* Spacing */
.mt--m {
	margin-top: var(--space-m);
}

.mt--s {
	margin-top: var(--space-s);
}

.mt--xs {
	margin-top: var(--space-xs);
}

.mt--xxs {
	margin-top: var(--space-xxs);
}

.mt--l {
	margin-top: var(--space-l);
}

.mt--xl {
	margin-top: var(--space-xl);
}

.mt--xxl {
	margin-top: var(--space-xxl);
}

.mb--m {
	margin-bottom: var(--space-m);
}

.mb--s {
	margin-bottom: var(--space-s);
}

.mb--xs {
	margin-bottom: var(--space-xs);
}

.mb--xxs {
	margin-bottom: var(--space-xxs);
}

.mb--xxxs {
	margin-bottom: var(--space-xxxs);
}

.mb--l {
	margin-bottom: var(--space-l);
}

.mb--xl {
	margin-bottom: var(--space-xl);
}

.mb--xxl {
	margin-bottom: var(--space-xxl);
}

/* Base style */

html {
	font-size: 100%;
	/* 16px */
	box-sizing: border-box;
	background-color: var(--background);
}

@media (min-width: 2880px) {
	html {
		font-size: 150%;
	}
}

@media (min-width: 3839px) {
	html {
		font-size: 200%;
	}
}

body {
	font-size: var(--text-base-size);
	font-family: var(--font-primary);
	color: var(--text);

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

html,
body,
div,
header,
footer {
	transition: var(--bg-color-transition);
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
form legend,
figcaption,
svg {
	transition: var(--color-transition);
}

li {
	transition-property: color, background-color;
	transition-duration: var(--duration);
	transition-timing-function: ease-in-out;
}

#main_page_content {
	flex-grow: 1;
	padding-bottom: var(--space-xl);
}

.container,
section {
	padding: 0 var(--space-m);
}

@media (min-width: 400px) {

	.container,
	section {
		padding: 0 var(--space-l);
	}
}

@media (min-width: 700px) {

	.container,
	section {
		padding: 0 var(--space-xl);
	}
}

@media (min-width: 1534px) {

	.container,
	section {
		padding: 0 var(--space-xxl);
	}
}

h1,
h2,
h3,
h4,
form legend {
	color: var(--text);
	margin-bottom: var(--space-s);
	line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
	font-size: var(--text-xxxl);
}

h1,
.text--xxl {
	font-size: var(--text-xxl);
}

h2,
.text--xl {
	font-size: var(--text-xl);
}

h3,
.text--l {
	font-size: var(--text-l);
}

h4,
.text--m {
	font-size: var(--text-m);
}

.text--s,
small {
	font-size: var(--text-s);
}

.text--xs {
	font-size: var(--text-xs);
}

p {
	line-height: var(--body-line-height);
	padding-bottom: var(--space-xs);
}

b,
strong {
	font-weight: bold;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

a.link {
	text-decoration: underline var(--accent);
	text-underline-offset: 0.2em;

	transition-property: text-decoration-color;
	transition-duration: var(--duration);
	transition-timing-function: ease-in-out;
}

a.link:visited {
	text-decoration-color: var(--secondary-on-surface);
}

span.underlined {
	position: relative;
	z-index: 10;

	width: fit-content;
	transition: none;
}

span.underlined::after {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 0.2ch;

	content: "";
	width: 108%;
	height: max(0.1ch, 2px);
	background-color: var(--accent);
	z-index: -1;
	border-radius: 20px;

	transition: var(--duration) background-color ease-in-out;
}

img.styled {
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
	transition-property: box-shadow;
	transition-duration: var(--duration);
	transition-timing-function: ease-in-out;
}

main.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main.login {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/* Forms and Input */

form.gl {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
	width: fit-content;
	padding: var(--space-m);
	padding-top: calc(var(--space-m) * 0.7);
	border-radius: calc(var(--radius) / 1.3);

	background-color: var(--primary-light);
}

form.gl>div {
	display: flex;
	flex-direction: column;
	gap: var(--space-xxxs);
}

form.gl label,
form.gl input {
	font-size: var(--text-s);
}

form.gl label {
	width: fit-content;
}

form.gl input {
	padding: var(--space-xxs) var(--space-xs);
	border-radius: calc(var(--radius) / 1.5);
	border: 2px solid var(--primary);
	background-color: var(--background);
	color: var(--text);
}

form.gl button {
	width: fit-content;
}

/* Button */
.btn {
	display: inline-flex;
	position: relative;
	white-space: nowrap;
	text-decoration: none;
	line-height: 1;

	padding: 1.8rem var(--space-m);
	border-radius: calc(var(--radius));
	font-size: var(--text-l);
	color: var(--accent);

	box-shadow: var(--box-shadow);

	transition-property: color, background-color;
	transition-duration: var(--duration);
	transition-timing-function: ease-in-out;
}

.btn:visited {
	color: var(--accent);
}

.btn:hover {
	transition-property: color, background-color;
	transition-duration: var(--duration);
}

.btn--accent {
	background-color: var(--accent);
	color: var(--background);
}

.btn--accent:visited {
	color: var(--background);
}

.btn--accent:hover {
	background-color: var(--background);
	color: var(--accent);
}

.btn--accent-on-background:hover {
	background-color: var(--primary-light);
}



.home #home {
	display: grid;

	gap: var(--space-m);
	--main-hero-height: calc(100vh - var(--total-header-height) + var(--space-m));
	grid-template-rows: auto 1fr;

	margin-bottom: var(--space-xl);
	padding-top: 0;
	padding-bottom: 0;
}

@media (min-width: 700px) {
	.home #home {
		gap: 0;
		column-gap: var(--space-m);
		grid-template-columns: 3fr 2fr;
	}

	#hero-text {
		padding-top: var(--space-l);
	}
}

#hero-text h1 {
	font-size: var(--text-xxxxl);
	font-weight: 500;
}

#hero-text h3 {
	font-weight: 400;
}

h2.styled_title {
	text-transform: uppercase;
	color: var(--accent);
	font-family: var(--font-secondary);
}

@media (min-width: 700px) {
	.home #profile-picture-wrapper {
		grid-column: 2;
		grid-row: 1/3;
	}
}

.home #profile-picture-wrapper img {
	display: block;
	margin-left: auto;
	max-height: 90%;
	max-width: 85%;
}

@media (min-width: 700px) {
	.home #profile-picture-wrapper img {
		margin-right: auto;
		max-width: 100%;
		width: 100%;
	}
}

.home .buttons {
	grid-row: 3;
}

@media (min-width: 700px) {
	.home .buttons {
		grid-row: 2;
		grid-column: 1;
		align-self: flex-end;
		display: inline-flex;
		flex-direction: row;
		gap: var(--space-m);
	}
}


/* statics pages */
.static__container {
	max-width: 64ch;
	margin: 0 auto;
}

/* projects */
main.projects {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-xl);
}

/* a project page */
main.project img {
	width: 100%;
}

.project__article {
	max-width: 64ch;
	margin: 0 auto;
}

.project__grid {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: var(--space-m);
	max-width: 64ch;
	margin: 0 auto;
}

.project__technos {
	grid-row: 1;
}

.project__git-logo {
	height: 1.1em;
	width: auto;
	padding-right: var(--space-xs);
}

.project__repo-link {
	align-items: center;
	margin-bottom: var(--space-s);
}

@media (min-width: 1370px) {
	.project__grid {
		grid-template-columns: minmax(max-content, 1fr) minmax(300px, 500px);
		column-gap: var(--space-m);
		max-width: unset;
		margin: 0;
	}

	.project__technos {
		grid-row: unset;
		grid-column: 2;
	}

	.project__links {
		grid-column: 2;
	}

	.project__article {
		grid-row: 1/4;
	}
}

@media (min-width: 1620px) {
	.project__grid {
		column-gap: var(--space-xl);
	}
}

/* blogs index page */
.blog_index__content {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-l);
}

/* a blog article */
.blog__article,
.blog_index {
	max-width: 64ch;
	margin: 0 auto;
}

.component-article__title:hover {
	text-decoration: underline;
}

.component-article__btn {
	float: right;
}


.component-blog_tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--space-xxs);
}

.component-blog_tags__elem {
	line-height: var(--body-line-height);
	color: var(--accent);
	font-size: var(--text-xs);
}

.component-blog_tags__elem:hover {
	text-decoration: underline;
}



.component-card_title_content {
	background-color: var(--primary-light);
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);

	padding: var(--text-m);
	padding-top: calc(var(--text-m) / var(--heading-line-height));
}



footer.container {
	background-color: var(--primary-light);
	padding-top: var(--space-xl);
	padding-bottom: var(--space-xl);
}

footer a {
	color: var(--text);
}

footer a:visited {
	color: var(--text);
}

footer h4 {
	font-size: var(--text-xxxl);
	font-weight: 500;
	margin-bottom: 0;
}

footer p {
	padding-bottom: 0;
}

footer nav {
	display: flex;
	flex-direction: column;
	gap: var(--space-xxs);
}

#footer-sociales {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--space-m);
}

#footer-content-wrapper {
	container: footer / inline-size;
}

#footer-content {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-xl);
}

@container footer (min-width: 280px) {
	#footer-content {
		grid-template-columns: 1fr 1fr;
		gap: var(--space-m);
		column-gap: var(--space-xl);
	}

	footer h4 {
		grid-row: 1;
		grid-column: 1;
	}

	footer nav {
		grid-row: 1;
		grid-column: 2;
	}

	#footer-sociales {
		grid-row: 2;
		grid-column: 1/3;
	}
}

@container footer (min-width: 552px) {
	#footer-content {
		grid-template-columns: 1fr auto;
	}

	#footer-sociales {
		grid-column: 2;
	}
}

@container footer (min-width: 652px) {
	#footer-content {
		grid-template-columns: 1fr auto auto;
	}

	#footer-sociales {
		grid-row: 1;
		grid-column: 3;
	}
}

:root {
	--header-height: calc(var(--text-l) * var(--heading-line-height));
	--header-margin-top: var(--space-l);
	--header-margin-bottom: var(--space-l);
	--total-header-height: calc(var(--header-height) + var(--header-margin-top) + var(--header-margin-bottom));
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	margin-top: var(--header-margin-top);
	margin-bottom: var(--header-margin-bottom);

	height: var(--header-height);

	transition: gap var(--duration) ease-in-out;
}

header h1 {
	white-space: nowrap;
	margin: 0;
	font-size: var(--text-l);
	font-weight: 500;
}

header .buttons {
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: var(--space-s);
	margin-left: auto;
	padding-left: var(--space-s);
}

header nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	row-gap: var(--space-xs);
}

header a {
	color: var(--text);
	margin-right: var(--space-m);
}

header a:visited {
	color: var(--text);
}

header .skip-link {
	position: absolute;
	top: -100%;
}

.skip-link:focus-visible {
	top: 5px;
}

/* header {
	background: red;
} */

.component-image_block img,
.component-image_block picture {
	display: block;
}

.component-image_block img {
	width: 100%;
}

.component-image_block__figcaption {
	width: fit-content;
	margin-left: auto;
}