/* home */
.gradient {
	height: 200vh;
	width: 100vw;
	max-width: 100%;
	position: absolute;
	overflow: hidden;

	top: 0;
	left: 0;
	z-index: -2;
	background: radial-gradient(ellipse at 150% center, var(--primary-light), var(--background));
}

.home #home {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	min-height: calc(110vh - var(--total-header-height));
}

.home #home div:first-child {
	grid-column: 1/3;
}

.home h1 {
	font-size: var(--text-xxxxl);

	position: relative;
	z-index: 10;

	width: fit-content;
}

.home h1::after {
	position: absolute;
	right: -0.3ch;
	bottom: 0.2ch;

	content: "";
	width: 4.7ch;
	height: 0.1ch;
	background-color: var(--accent);
	z-index: -1;
	border-radius: 20px;
}

.home h3 {
	font-weight: 400;
}

.home figure#akira {
	color: var(--accent);
	position: absolute;
	transform: translate(-50%, 50%) rotateZ(90deg) translate(-50%, -50%);
	bottom: var(--space-xs);
	left: 0;
	width: 15%;
}

.Akira-stuff,
.Evangelion-stuff {
	display: none;
}

@media (prefers-color-scheme: light) {
	html[data-theme="auto"] .home .Akira-stuff {
		display: block;
	}
}

html[data-theme="light"] .home .Akira-stuff {
	display: block;
}

@media (prefers-color-scheme: dark) {
	html[data-theme="auto"] .home .Evangelion-stuff {
		display: block;
	}
}

html[data-theme="dark"] .home .Evangelion-stuff {
	display: block;
}

.home #profile-picture {
	align-self: self-start;
	justify-self: center;
	max-height: 500px;
	border-radius: var(--radius);
	box-shadow: var(--box-shadox);
}

/* about me section */

.home #aboutme {
	max-width: 70ch;
	margin: 0 auto;
}

.home #aboutme h2 {
	position: relative;

	text-transform: uppercase;
	line-height: 0.75;
	width: fit-content;

	color: var(--accent);
	font-size: var(--text-xl);
	font-family: var(--font-secondary);

	margin-bottom: calc(var(--space-sm) * 2);
}

.home #aboutme h2::before {
	content: "";
	background-color: var(--primary);

	position: absolute;
	box-sizing: content-box;
	width: 50vw;
	height: 0.755em;
	z-index: -1;

	padding: var(--space-sm);
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);

	right: calc(-1 * var(--space-sm));
	top: calc(-1 * var(--space-sm));

	box-shadow: var(--box-shadox);

}

.home #aboutme article {}

.home #aboutme p {
	text-align: justify;
	padding-bottom: var(--space-sm);
}