/* home */


.home main h1 {
	margin-top: 2rem;
	margin-bottom: 3rem;

	text-transform: uppercase;

	position: relative;
	z-index: 10;

	width: fit-content;
	/* border-bottom: 2px solid var(--accent); */

}

.home main h1::after {
	position: absolute;
	left: 50%;
	bottom: 15px;

	transform: translate(-50%, 0);

	content: "";
	width: 101%;
	height: 15px;
	background-color: var(--primary);
	z-index: -1;
}


.home main h3 {
	line-height: 1.25;
	font-weight: 400;
	font-family: "Poppins";
}

.home figure#akira {
	color: var(--primary);
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
}

.Akira-stuff,
.Evangelion-stuff {
	display: none;
}

html[data-theme="light"] .home .Akira-stuff {
	display: block;
}

html[data-theme="dark"] .home .Evangelion-stuff {
	display: block;
}