/* home */

.home h1 {
	margin-top: 2rem;
	margin-bottom: 3rem;

	position: relative;
	z-index: 10;

	width: fit-content;
}

.home h1::after {
	position: absolute;
	left: 50%;
	bottom: 15px;

	transform: translate(-50%, 0);

	content: "";
	width: 101%;
	height: 15px;
	background-color: var(--primary);
	z-index: -1;
}

.home h3 {
	line-height: 1.25;
	font-weight: 400;
	font-family: "Poppins";
}

.home figure#akira {
	color: var(--primary);
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 15%;
}

.Akira-stuff,
.Evangelion-stuff {
	display: none;
}

html[data-theme="light"] .home .Akira-stuff {
	display: block;
}

html[data-theme="dark"] .home .Evangelion-stuff {
	display: block;
}
.home .component-parralax_image {
	position: absolute;
	right: 25%;
	top: 50%;
	transform: translate(50%, -50%);
}
