.component-lang_switcher {
	height: 100%;
}
.component-lang_switcher .transparent {
	opacity: 0.2;
}
.component-lang_switcher .logo-lang {
	display: block;
	color: var(--accent);
}
.component-lang_switcher {
	position: relative;
}
.component-lang_switcher .dropdown {
	position: absolute;
	right: 0px;
	background-color: var(--primary);
	z-index: 20;
	padding: var(--space-s);
	border-radius: var(--radius);
	box-shadow: var(--box-shadox);

	display: flex;
	flex-direction: column;
	gap: var(--space-xs);

	visibility: hidden;
	opacity: 0;
	transition: opacity ease-in-out var(--duration),
		visibility 0s var(--duration);
}
.component-lang_switcher .dropdown.open {
	visibility: visible;
	opacity: 1;
	transition: opacity ease-in-out var(--duration);
}
.component-lang_switcher input {
	border-radius: unset;
	border: unset;
	color: var(--text);
	background-color: unset;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
	padding: 0;
}

@media (min-width: 700px) {
	.component-lang_switcher .dropdown {
		right: max(calc(50% + calc(var(--space-xxxs-fixed) / 2)), 0px);
		transform: translate(+50%, 0);
	}
}
