.component-other_passion {
	background-color: var(--primary-light);
	border-radius: var(--radius);
	box-shadow: var(--box-shadox);

	padding: var(--text-l);
	padding-top: calc(var(--text-l) / var(--heading-line-height));
}

.component-other_passion .title {
	margin-bottom: var(--space-xxs);
}
