{% load static compress %}
<!DOCTYPE html>
<html lang="fr" data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="keywords" content="Grégoire Layet" />
        <meta name="author" content="Grégoire Layet" />
        <link rel="icon" href="{% static "favicon.ico" %}" />
        <title>Grégoire Layet</title>
        {% compress css %}
            <link rel="stylesheet"
                  type="text/css"
                  media="all"
                  href="{% static "app.css" %}">
            <link rel="stylesheet" type="text/css" media="all" href="{% static "website/website.css" %}">
            <link rel="stylesheet" type="text/css" media="all" href="{% static "project/project.css" %}">
            {% component_css_dependencies %}
        {% endcompress %}
        <link rel="preload" href="{% static "font/Montserrat-Bold.ttf" %}" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="{% static "font/Poppins-Regular.ttf" %}" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="{% static "font/Poppins-Medium.ttf" %}" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="{% static "font/Poppins-Bold.ttf" %}" as="font" type="font/ttf" crossorigin>
        {% block head %}
        {% endblock head %}
        {% compress js %}
            <script src="{% static 'htmx.min.js' %}" defer></script>
        {% endcompress %}
    </head>
    <body class="{% block body_class %}{% endblock body_class %}">
        {% component "header" request %}
        {% endcomponent %}
        <div id="main_page_content">
            {% block content %}
            {% endblock content %}
        </div>
        {% component "footer" request %}
        {% endcomponent %}
        {% compress js %}
            {% component_js_dependencies %}
        {% endcompress %}
    </body>
</html>
