{% extends "base.html" %}

{% block content %}
    <main class="projects container">
        <h1 class="title">
          {{ section.title }}
        </h1>

        {% for page in section.pages %}
        <div class="component-project-container">
          <div class="component-project">
              <div class="component-project__image_wrapper">
                  {# {% picture project.image format-{avif,webp,jpeg} width-{400,600,900} sizes="(max-width: 400px) 400,(max-width: 600px) 600,90vw" class="styled" alt=project.image_alt %} #}
              </div>
              <h3 class="component-project__title mb--xs">{{ page.title }}</h3>
              {# {% component "project_technologies" technologies=project.technologies attrs:class="mb--s" only %}
              {% endcomponent %} #}
              <div class="component-project__description mb--s">
                {# {{ project.short_description|richtext }} #}
              </div>
              <a href="{{ page.permalink | safe }}"
                 class="component-project__btn btn btn--accent"
                >Voir ce projet</a>
          </div>
      </div>
        {% endfor %}


    </main>
{% endblock content %}