{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<main class="notules container">
    {% for page in section.pages %}
    <div class="notule">
        <div class="image-container mb--s">
            {% set image_path = page.path ~ page.extra.image%}
            {% if page.extra.image_alt == "" %}
            {% set image_alt = page.title %}
            {% else %}
            {% set image_alt = page.extra.image_alt %}
            {% endif %}

            {{ macros::image(path=image_path, alt=image_alt, class="", formats=["webp", "jpg"] ,
            sizes=[500], biggest_size_rel="90vw") }}
        </div>
        <h3 class="mb--xxs">{{ page.title }}</h3>
        <div class="description">
            {{ page.content |safe }}
        </div>
    </div>
    {% endfor %}
</main>
{% endblock content %}