{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<main class="notules container">
    {% for page in section.pages %}
    <div class="notule">
        <h3 class="mb--xs">{{ page.title }}</h3>
        <div class="mb--s">
            {{ macros::image(path=page.extra.image, alt=page.extra.image_alt,class="", formats=["webp", "jpg"] ,
            sizes=[400,600,900], biggest_size_rel="90vw") }}
        </div>
        <div class="description mb--s">
            {{ page.content |safe }}
        </div>
    </div>
    {% endfor %}
</main>
{% endblock content %}