{% extends "base.html" %}
{% import "macros.html" as macros %}

{%- block custom_css_and_js -%}
<script src="{{ get_url(path='glide.min.js',cachebust=true) }}"></script>
<link rel="stylesheet" href="{{ get_url(path='glide.core.min.css',cachebust=true) }}">
{%- endblock custom_css_and_js -%}

{% block content %}
<main class="vitrines container">
  {% for page in section.pages %}
  <div class="vitrine">
    <h3 class="mb--xs"><span>{{ page.title }}</span> <span>{{ page.date | date(format="%B %Y",
        timezone="Europe/Paris", locale="fr_FR")
        }}</span>
    </h3>
    <div class="mb--s">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <div class="glide__slides">
            {% for image in page.extra.images %}
            {% set image_path = page.path ~ image%}
            {% if page.extra.images_alt | nth(n=loop.index) == "" %}
            {% set image_alt = page.title %}
            {% else %}
            {% set image_alt = page.extra.images_alt | nth(n=loop.index) %}
            {% endif %}
            {{ macros::image(path=image_path, alt=image_alt, class="glide__slide", formats=["webp", "jpg"] ,
            sizes=[400,600,900,1200], biggest_size_rel="90vw") }}

            {% endfor %}

          </div>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left btn btn--accent btn--accent-on-background" data-glide-dir="<">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </button>
          <button class="glide__arrow glide__arrow--right btn btn--accent btn--accent-on-background" data-glide-dir=">">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
          <button class="glide__bullet" data-glide-dir="=0"></button>
          <button class="glide__bullet" data-glide-dir="=1"></button>
          <button class="glide__bullet" data-glide-dir="=2"></button>
        </div>
      </div>

    </div>

    <div class="description mb--s">
      {{ page.content |safe }}
    </div>
  </div>
  {% endfor %}

</main>
{% endblock content %}
{% block custom_js %}


<script>
  new Glide('.glide', { gap: 0 }).mount()
</script>
{% endblock custom_js %}