# Use the ACME HTTP-01 challenge to get a cert for the configured domain.
tls {$EMAIL}

www.gregoirelayet.com {
	redir https://gregoirelayet.com{uri} permanent
}

gregoirelayet.com {
    encode zstd gzip

    route {
        header /media/* Cache-Control "public, max-age=10, must-revalidate"
        file_server /media/* {
            root /home/gerg/app/
        }
        
        reverse_proxy localhost:8000 {
            header_up X-Real-IP {remote_host}
        }
    }
}

{$VAULTWARDEN_DOMAIN} {
  log {
    level INFO
    output file {$VW_LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }


  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this
  # if you encounter issues.
  encode zstd gzip

  # Proxy everything Rocket
  reverse_proxy vaultwarden:80 {
       # Send the true remote IP to Rocket, so that vaultwarden can put this in the
       # log, so that fail2ban can ban the correct IP.
       header_up X-Real-IP {remote_host}
  }
}