services: 
  caddy:
    image: caddy:2.10.2
    container_name: caddy
    restart: always
    ports:
      - 80:80  # Needed for the ACME HTTP-01 challenge.
      - 443:443
      - 443:443/udp # Needed for HTTP/3.
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy-config:/config
      - ./caddy-data:/data
      # - ./gregoirelayet/media:/srv/media
      - ./gregoirelayet/ssg:/srv/ssg
      - ./gregoirelayet/enora:/srv/enora
    environment:
      DEPLOYEMENT_USER: "${DEPLOYEMENT_USER}"
      EMAIL: "acme@gregoirelayet.com"                 # The email address to use for ACME registration.
      VW_LOG_FILE: "/data/vw_access.log"
      VAULTWARDEN_FQDN: "${VAULTWARDEN_FQDN}"
      
  vaultwarden:
    image: vaultwarden/server:1.35.0
    container_name: vaultwarden
    restart: always
    environment:
      DOMAIN: "https://${VAULTWARDEN_FQDN}"
      SIGNUPS_ALLOWED: "false"
      LOG_FILE: "/data/vaultwarden.log"
      LOG_LEVEL: "warn"
      EXTENDED_LOGGING: "true"
      PUSH_ENABLED: "true"
      PUSH_INSTALLATION_ID: "${VAULTWARDEN_PUSH_INSTALLATION_ID}"
      PUSH_INSTALLATION_KEY: "${VAULTWARDEN_PUSH_INSTALLATION_KEY}"
      SMTP_HOST: "${EMAIL_HOST}"
      SMTP_FROM: "${EMAIL_HOST_USER}"
      SMTP_PORT: "${EMAIL_PORT}"
      SMTP_SECURITY: starttls
      SMTP_USERNAME: "${EMAIL_HOST_USER}"
      SMTP_PASSWORD: "${EMAIL_HOST_PASSWORD}"
    volumes:
      - ./vw-data:/data