/* blogs index page */
.blog_index__content {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-l);
}
/* a blog article */
.blog__article,
.blog_index {
	max-width: 64ch;
	margin: 0 auto;
}
