.component-theme_switcher .transparent {
	opacity: 0.2;
}

.component-theme_switcher .logo-moon,
.component-theme_switcher .logo-sun,
.component-theme_switcher .logo-system {
	display: none;
	color: var(--accent);
}

html[data-theme="dark"] .component-theme_switcher .logo-moon {
	display: block;
}

html[data-theme="light"] .component-theme_switcher .logo-sun {
	display: block;
}

html[data-theme="auto"] .component-theme_switcher .logo-system {
	display: block;
}