header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	gap: 2rem;
}

header h1 {
	font-size: 1.5rem;
	white-space: nowrap;
}
header > button {
	margin-left: auto;
}
header:has(~ #main_page_content > main.home) {
	gap: 0;
}

header #main-title {
	overflow: hidden;
	transition: width 300ms ease-in-out;
}
header:has(~ #main_page_content > main.home) #main-title {
	width: 0px !important;
	transition: width 300ms ease-in-out;
}
