:root {
	--header-height: calc(var(--text-lg) * var(--heading-line-height));
	--header-margin-top: var(--space-xl);
	--header-margin-bottom: var(--space-xl);
	--total-header-height: calc(
		var(--header-height) + var(--header-margin-top) +
			var(--header-margin-bottom)
	);
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	gap: 2rem;
	margin-top: var(--header-margin-top);
	margin-bottom: var(--header-margin-bottom);

	height: var(--header-height);
}

header h1 {
	white-space: nowrap;
	margin: 0;
	font-size: var(--text-lg);
}

header > button {
	margin-left: auto;
}

header:has(~ #main_page_content > main.home) {
	gap: 0;
}

header #main-title {
	overflow: hidden;
	transition: width 300ms ease-in-out;
}

header:has(~ #main_page_content > main.home) #main-title {
	width: 0px !important;
	transition: width 300ms ease-in-out;
}

header a {
	color: var(--text);
}

header a:visited {
	color: var(--text);
}

header .component-theme_switcher svg {
	height: var(--header-height);
	width: auto;
}
