.component-project_technologies {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--space-xxs);
}

.component-project_technologies__elem {
	line-height: var(--body-line-height);
	padding: calc(var(--space-xxs) / var(--body-line-height)) var(--space-xs);
	border-radius: var(--radius);
	background-color: var(--text);
	color: var(--background);
	font-size: var(--text-s);
}

@media (prefers-color-scheme: dark) {
	html[data-theme="auto"] .component-project_technologies__elem {
		font-weight: 500;
	}
}

html[data-theme="dark"] .component-project_technologies__elem {
	font-weight: 500;
}
