.component-project-container {
	container: project / inline-size;
}
.component-project {
	display: grid;
}
.component-project .title {
	grid-row: 1;
	color: var(--accent);
	font-size: var(--text-md);
	font-family: var(--font-secondary);
}
.component-project img {
	grid-row: 2;

	width: 100%;
	height: auto;
	border-radius: var(--radius);
	box-shadow: var(--box-shadox);
	margin-bottom: var(--space-sm);
}
.component-project .technologies {
	margin-bottom: var(--space-sm);
	grid-row: 3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--space-xs);
}

.component-project .technologies li {
	padding: var(--space-xxs) var(--space-sm);
	background-color: var(--text);
	color: var(--background);
	font-weight: 700;
	font-size: var(--text-sm);
	border-radius: var(--radius);
}
.component-project .description {
	margin-bottom: var(--space-sm);
}
.component-project .description p {
	text-align: justify;
	margin-bottom: var(--space-xxxs);
}

@container project (min-width: 1005px) {
	.component-project {
		grid-template-columns: 1fr 1fr;
		column-gap: var(--space-md);
	}
	.component-project .title {
		grid-column: 1/3;
		grid-row: 1;
		font-size: var(--text-xl);
	}
	.component-project img {
		grid-row: 3/6;
		grid-column: 1;
		margin-bottom: 0;
	}
	.component-project .technologies {
		grid-column: 1;
		grid-row: 2;
	}
	.component-project .description {
		grid-column: 2;
		grid-row: 2/4;
		margin-bottom: 0;
	}
	.component-project .btn {
		grid-row: 4;
		grid-column: 2;
		width: fit-content;
		margin-left: auto;
	}
}
@container (min-width: 1300px) {
	.component-project {
		column-gap: var(--space-xl);
	}
}
