{% load wagtailimages_tags wagtailcore_tags %}
<div class="component-project-container">
    <div class="component-project">
        {% image project.image width-900 class="styled" %}
        <h3 class="title mb--xs">{{ project.title }}</h3>
        {% component "project_technologies" technologies=project.technologies attrs:class="mb--s" only %}
        {% endcomponent %}
        <div class="description mb--s">{{ project.short_description|richtext }}</div>
        <a href="{% pageurl project %}"
           class="btn btn--accent"
           hx-boost="true"
           hx-target="#main_page_content"
           hx-swap="innerHTML show:none">Voir ce projet</a>
    </div>
</div>
