.component-blog_tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--space-xxs);
}

.component-blog_tags__elem {
	line-height: var(--body-line-height);
	color: var(--accent);
	font-size: var(--text-xs);
}
.component-blog_tags__elem:hover {
	text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
	html[data-theme="auto"] .component-blog_tags__elem {
		font-weight: 500;
	}
}

html[data-theme="dark"] .component-blog_tags__elem {
	font-weight: 500;
}
