@font-face {
	font-family: "Poppins";
	src: url("/static/font/Poppins-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	src: url("/static/font/Montserrat-Bold.ttf") format("opentype");
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

button,
input,
select {
	margin: 0;
}

button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: none;
	color: currentColor;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

img,
video {
	height: auto;
	max-width: 100%;
}

svg {
	display: block;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

html {
	font-size: 100%;
	/* 16px */
	box-sizing: border-box;
	background-color: var(--background);
	transition-duration: 200ms;
	transition-property: background-color;
	transition-timing-function: ease-out;
}

body {
	font-family: "Poppins";
	font-weight: 400;
	color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Montserrat";
	font-weight: 700;
}

h1 {
	font-size: 5.652rem;
	/* 90.4px */
}

h2 {
	font-size: 3.997rem;
	/* 64px */
}

h3 {
	font-size: 2.827rem;
	/* 45.28px */
}

h4 {
	font-size: 1.999rem;
	/* 32px */
}

h5 {
	font-size: 1.414rem;
	/* 22.56px */
}

small {
	font-size: 0.707rem;
	/* 11.36px */
}

html[data-theme="light"] {
	--text: oklab(10.98% 0.015 0);
	--background: oklab(98.74% 0.003 0);
	--primary: oklab(47% 0.168 0.09);
	--secondary: oklab(77.52% 0.043 0);
	--accent: oklab(71.31% 0.166 0.07);
}

html[data-theme="dark"] {
	--text: oklab(98.25% 0.004 -0);
	--background: oklab(8.1% 0.014 0.01);
	--primary: oklab(39.93% 0.053 -0.09);
	--secondary: oklab(68.91% 0.102 0.07);
	--accent: oklab(88.82% -0.111 0.11);
}

:root {
	--duration: 294ms;
	--sizer: 1.5;
}

a {
	color: var(--text);
	cursor: pointer;
	text-decoration: none;
	transition-duration: var(--duration);
	transition-property: color;
}

body {
	padding: calc(var(--sizer) * 3rem);
}