{% extends base_template %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <main class="blog container">
        <article class="blog__article">
            <h1 class="mb--xxs">{{ page.title }}</h1>
            {% component "blog_tags" page page.tags attrs:class="mb--s" only %}
            {% endcomponent %}
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </article>
    </main>
{% endblock content %}
